---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h2>Freebies for Chaos Moms</h2>
  <p>Here you’ll find my growing collection of printable checklists, routines, planners, and templates made for moms who want more peace, less panic.</p>

  <ul>
    <li><a href="#">Morning Routine Checklist (PDF)</a></li>
    <li><a href="#">Weekly Cleaning Schedule</a></li>
    <li><a href="#">Meal Plan Starter Template</a></li>
  </ul>

  <p>More coming soon! Follow me on Pinterest to get the latest ❤️</p>
</Layout>
